@import './colors';

.start__contact {
	background-color: #041827;
	text-align: center;
	width: 100%;
	padding: 80px 30px;
	margin: 50px auto;

	@media (min-width: 480px) {
		border-radius: 20px;
		width: 90%;
		max-width: 1000px;
		margin: 80px auto;
	}

	.start__contact__subtitle {
		color: white;
		margin: 0 auto 50px;
	}

	a {
		font-weight: 500;
		color: white;
		border-radius: 5px;
		background-color: $primary-color;
		text-decoration: none;
		border: 2px solid $primary-color;
		padding: 12px 20px;
	}
}
